.Header {
  text-align: center;
}

.UpdListBtn {
  margin-left: 16px !important;
  color: beige !important;
}

.ArticleItemListLink {
  text-decoration: none;
  color: black;
  background-color: beige;
  width: 100%;
  padding: 10px;
}

.BackBtn {
  text-decoration: none;
  color: beige;
}

.Card {
  background-color: beige !important;
}

.ArticleLink {
  text-decoration: none;
}

.UpdCommentsButton {
  float: right;
  color: peru !important;
}

.CommentTreeItem {
  padding: 10px !important;
}
